  <div id="messages-menu">
    <ul class="collapsed menu">
      <li class="first"><%= link_to 'Inbox', inbox_url %></li>
      <li><%= link_to 'Outbox', outbox_url %></li>
      <li><%= link_to 'Trash', trash_url %></li>
    </ul>
  </div>