<%= error_messages_for 'preference_store' %>

<!--[form:preference_store]-->

<p><%= check_box 'preference_store', 'notify_new_message' %>
<label for="preference_store_notify_new_message">Notify by email when someone sends me a message</label></p>

<!--[eoform:preference_store]-->