<table class="bordered">
  <tr>
    <th></th>
    <th></th>
    <th>Sandboxed?</th>
  </tr>
  <tr>
    <td>MRI</td>
    <td>Matz's Ruby Implementation, versions 1.8.7 and lower</td>
    <td class="no">NO</td>
  </tr>
  <tr>
    <td>YARV</td>
    <td>will be MRI 1.9+ (not a fork, not a merge)</td>
    <td class="no">NO</td>
  </tr>
  <tr>
    <td>JRuby</td>
    <td>Java Virtual Machine</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>IronRuby</td>
    <td>.NET CLR</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>Rubinius</td>
    <td>as much Ruby implemented in Ruby as possible</td>
    <td class="no">NO</td>
  </tr>
  <tr>
    <td><a href="http://maglev.gemstone.com/">MagLev</a></td>
    <td>Smalltalk VM, integrated object persistence, distributed shared cache</td>
    <td>yes</td>
  </tr>
  <tr>
    <td><a href="http://code.macournoyer.com/tinyrb/">tinyrb</a></td>
    <td>Scaled-down Ruby</td>
    <td class="no">NO</td>
  </tr>
</table>
<p style="font-size:12pt;">
  Sanity will be preserved by <%= link_to 'RubySpec', 'http://rubyspec.org' %> ...maybe?
</p>